 #slide_0{
 	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }

  #slide_1{
   	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }
 
  #slide_2{
 	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }
 
  #slide_3{
 	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }
 
  #slide_4{
	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }

  #slide_5{
	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }
 
  #slide_6{
	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }
 
  #slide_7{
	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }

   #slide_8{
	top : 20px;
    left : 12%;
    width: 76%;
   	height: 95%;
 }
 