body{
        background-color: #39B1CB;
}

#lean_overlay{
        position: fixed; z-index:100; 
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: #fff;
        display: none;
}

.modal{
        width: 80%;
        height: 80%;
        display: none; 
        overflow: auto;
        overflow-x: hidden;
        overflow-y:scroll;
        border:1px solid #696969;
        border-radius: 5pt;
}

a {
        text-decoration:none;
}

ul#joblist, ul.sub_menu{
        list-style:none;
        margin:0;
        padding:0;
}

#joblist{
        margin:10px;
        border:1px solid #e5e4e6;
        border-bottom:none;
}

.main_menu{
        background:#f4f4f4;
        color: #696969;
        font-size:12pt;
        padding:13px 15px 0;
        margin:0px 0 0 0px;
        cursor:pointer;
        width:100%;
        height:35px;
        border-bottom:1px solid #696969;
        font-family: MyriadPro-Regular;
}
.sub_menu li{
        background:#D3D3D3;
        color: #696969;     
        padding:13px 25px 0;
        font-size:12pt;
        cursor:pointer;
        width:100%;
        height:35px;
        margin:0 0 0 0;
        border-bottom:1px solid #696969;
        font-family: MyriadPro-Regular;
}