<!DOCTYPE html>
<html>
  <head>
    <title>nodoca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <img src="/images/logo.png" />
      <div>
      <a class="button button-circle" href="/register">Get Start!!</a>
      <a class="button button-circle" href="/login">Login</a>
      <a class="button button-circle" href="/create-group">Create Group</a>
      </div>
      <script src="/js/jquery-1.10.2.min.js"></script>
      <script src="/js/underscore-min.js"></script>
      <script src="/js/backbone-min.js"></script>
    <script>
        $(function() {
          
          })
    </script>
  </body>
</html>

