
<!DOCTYPE html>
<html>
  <head>
    <title>create score</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>create score</h1>
    <form action="/score/create" method="post">
      
      
    	<div><span>score</span><input type="text" name="score" /></div>
      
      
      
    	<div><span>type</span><input type="text" name="type" /></div>
      
      
      
    	<div><span>date</span><input type="text" name="date" /></div>
      
      
      
    	<div><span>score_id</span><input type="text" name="score_id" /></div>
      
      
      
    	<div><span>user_id</span><input type="text" name="user_id" /></div>
      
      
      
    	<div><span>user_name</span><input type="text" name="user_name" /></div>
      
      
    	<input type="submit" value="new"/>
    </form>
  </body>
</html>
