
<!DOCTYPE html>
<html>
  <head>
    <title>create action</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>create action</h1>
    <form action="/action/create" method="post">
      
      
    	<div><span>user_id</span><input type="text" name="user_id" /></div>
      
      
      
    	<div><span>type</span><input type="text" name="type" /></div>
      
      
      
    	<div><span>stage_no</span><input type="number" name="stage_no" /></div>
      
      
      
    	<div><span>wave</span><input type="number" name="wave" /></div>
      
      
      
    	<div><span>gold</span><input type="number" name="gold" /></div>
      
      
    	<input type="submit" value="new"/>
    </form>
  </body>
</html>
