

<!DOCTYPE html>
<html>
  <head>
    <title>エディタ</title>
      <link rel='stylesheet' href='/stylesheets/lib/w2ui-1.2.min.css' />
      <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">
  </head>
  <style>
  </style>
  <body>
  <div id="abcde"></div>
  	<svg id="svg" width="1024px" height="2048px" style="font-family:arial black; user-select: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;"></svg>
  	   <div id="jobdiv" class="modal">
      <ul id="joblist">
      </ul>
  </div>
  	
      <script src="/js/lib/jquery-1.10.2.min.js"></script>
      <script src="/js/lib/jquery.leanModal.min.js"></script>
      <script src="/js/lib/underscore-min.js"></script>
      <script src="/js/lib/backbone-min.js"></script>
      <script src="/js/lib/w2ui-1.2.min.js"></script>
      <script src="/js/lib/snap.svg-min.js"></script>
      <script src="/js/lib/socket.io.min.js"></script>
      <script src="/js/lib/jarty.js"></script>
      
      <script src="/js/dev/retro-client.js"></script>
      <script src="/js/dev/dialog.js"></script>
      <script src="/js/bin/main.js"></script>
    <script>
        $(function () {
        	$("#svg").attr("width", window.innerWidth - 30);
        	Main.init("<%=editorinfo.key%>", "<%=element_key_header%>");
        	
          });
        //w2ui['layout'].content('top', 'This is some content set manually')
        </script>
  </body>
</html>

