

<!DOCTYPE html>
<html>
  <head>
    <title>nodoca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <img src="/images/logo.png" />
      <p>ログイン</p>
      <form action="/login" method="post">
      <p>
      email:<input type="text" name="email" size="40">
      </p>
      <p>
      password:<input type="password" name="password" size="40">
      </p>
      <p>
      <input type="submit" value="送信"><input type="reset" value="リセット">
      </p>
      </form>

      <script src="/js/lib/jquery-1.10.2.min.js"></script>
      <script src="/js/lib/underscore-min.js"></script>
      <script src="/js/lib/backbone-min.js"></script>
    <script>
        $(function() {
          
          })
    </script>
  </body>
</html>

